<a href="https://colab.research.google.com/github/berin4/MyVBCode/blob/master/01_Variables_and_Datatypes_List_Methods_START.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lesson 01: Variables and Datatypes**

### A **comment** explains what code does or it deactivates code
### **Variables** are named containers that store a value

### **Datatypes**: Variables are of several datatypes


#### **Variable naming rules**:

#### **Variable naming conventions**:

#### **Methods** take a value between parentheses, perform an operation and return a value:

#### **Markdown** makes Python Notebooks more readable and engaging. This is written in markdown.

#### **round() input(), int() functions / methods**
#### **math** module for generating **PI** (and doing other stuff)

# Python Notes

- general scripting language with a wide use of applications
- dynamically typed
- interpreted language (opposed to compiled, Java , C++ are compiled)
- it's a good languages to quickly develop code

**comments**

In [ ]:
# comments in Python start with a pound sign or hashtag
# comments describe what the code is doing / why it is there
# comments are for us humans to read and are ignored by the actual code
# "commenting out code" means deactivating code by turning it into a comment
# comments keyboard shortcut: Command-Slash

# this is a new change

In [ ]:
# import math module
# allow us to display images:

In [ ]:
# connect to Google Drive so that we can load assets:

In [ ]:
base_url = ''
img_url = ''

In [ ]:
print() # <class 'module'>

# **variables**
- variables are named **objects** that store a *value*.
- variables are the building blocks of all programs
- variable (vars for short) come in different datatypes:
  - **string**: text in quotes: "Hello" or 'Hello! Aren\'t you Joe?'
  - **integer**: whole number: 12345
  - **float**: decimal: 3.1415
  - **boolean**: True or False *only*
  - **list**: ['kiwi', 'lime', 'plum', 'pear']
  - variables are name-value pairs: **name = value**

**string variables**
- strings are text in quotes, either single or double
- nested quotes can be resolved by mixing-and-matching single and double or by escaping inner quotes with a backslash

In [ ]:
# 1. Declare two variables: on in single quotes, the other in double

# left hand side is the variable name = the data

name = "Dom"

In [ ]:
# Exercise: Make a new variable with your name

name = "Dominic"
name

'Dominic'

In [ ]:
name = 'Dom'
name

'Dom'

**print() method**
- **print()** is a **method**
- methods perform useful functions
- methods take data in their parentheses
- the data in the parentheses of a method is called the **argument** (arg for short)
- the **print()** method takes as its arg(s) whatever you want to print out as its argument.
- print multiple items separated by comma(s)

**concatenation**
- strings can be joined into one longer string
- this is called *concatenation*
- **+** is the *concatenation operator*

In [ ]:
# 2. print() the classic programmer's message: Hello World
print("Hello World")

# 3. Print your names, separated by a comma:
print(name)
print(name)


print("Hello,", name, last) # the comma allows us to print multiple things

# 4. Declare and print a longer string:
#print('Hello !')

# 4B. Concatenate the greeting w + -- don't just list the print ""
# 'Hello !'
#print(name)

Hello World
Dom
Dom

NameError: name 'last' is not defined

In [ ]:
# print using ","
print("first:","Dom", "last:", "D") # print puts a " " after each comma

In [ ]:
# we can concat strings together (put them together using +)
print('Hello, ' + name)

In [ ]:
# another example of concatenation (adding two strings together)
greeting = "Hello,"
first = "Dom"
last = " D"

# we can add strings together and then pass them to print
print(greeting + first + last )

**escape nested quotes with a backslash**

In [ ]:
phrase =  'Let's get started # python thinks the string ends after t.

In [ ]:
# these are the same
name  = "dom"
name2 = 'dom'
print(name)
print(name2)

In [ ]:
# 5. Declare a string var with nested single quotes (apostrophe):
# the nested quote throws an ERROR


# this fixes the above error (mixing/matching quotes )
phrase = "Let's get started"

# 6. Fix the error by escaping the apostrophe with a backslash:
phrase_2 = 'Let\'s get started'

# 7. Fix the error another way by avoiding nested quotes:

print(phrase)
print(phrase_2)

**variable naming rules**
- Use letters, numbers and underscores only
- NO special characters (except underscore)
- NO spaces in a variable name
- CAN'T begin with a number
- CAN'T be a reserved word / keyword

**variable naming conventions**
- Two-word names should be joined by underscore:  **last_name**
- Variable names should be short, yet meaningful:
  - **tel** is good
  - **telephone_number** is too long

In [ ]:
# NO spaces in var names:

# 8. Declare a var starting with a number
#1day = 'Wednesday'

day_1 = 'Monday' # snake_case
day_2 = 'Tuesday'

# 9. Fix the error by moving the number to the end:
# 'Monday'



# NO special chars in variable names, except for underscore _

# 10. Declare a var containing an @ sign :
#next@day = "tomorrow" # error
next_day = "tomorrow"
print(next_day)
# print(next@day) # error

# 11. Fix the error by substituting @ with _
# "tomorrow"
# next day = ""
# cannot use reserved words for your var names
#print = "Hello World" # bad! -- var names cannot be reserved words
# if you do sthg that wrecks the file such as setting print equal to a string
# the only fix is Runtime > Restart session and run all
print(next_day)
print() # this is now a string, it's no longer a function .....

#next_day()

You can add descriptive labels to your print() statements:

In [ ]:
# 12. Declare a string var and print it with labels
# 'blueberries'
fruit = 'blueberries'
fruit_2 = "peach"
fruit_3 = 'strawberries'
# Exercise: Create a third variable fruit_3
# print it out with the label "The third fruit:"


print("Fruit:", fruit )
print("Fruit:", fruit_2)
print('The Third Fruit:', fruit_3) # automatically adds a space

In [ ]:
print("The third fruit:" + fruit_3) # concat doesn't automatically add a space

**type()** method returns the data type of a variable

In [ ]:
# 13. Declare a string var and print its data type:
# 'ca'
veggie = "carrot"
print('veg:', veggie, type(veggie)) # veg: carrot <class 'str'>

# 14. Declare an integer var and print its data type:
lucky_num = 7
print('lucky_num:', lucky_num, type(lucky_num)) # lucky_num: 8 <class 'int'>

lucky_num_str = "7"
print('lucky_num:', lucky_num_str, type(lucky_num_str)) # lucky_num: 7 <class 'str'>

# dynamically typed languages infer type

In [ ]:
lucky_num = 7
print('lucky_num:', lucky_num, type(lucky_num)) # lucky_num: 8 <class 'int'>

In [ ]:
f_name = "John"
l_name = "Doe"


print(f_name, l_name)

##Numeric Datatypes:
###Integers and Floats
####**integers** are whole numbers
####**floats** are decimals
####**type()** method returns the data type of a variable passed to it
####**round()** method rounds off a float to N decimal places
####**int()** method rounds float down to int

In [ ]:
# pi
import math # import buit-in math library


pi_ = math.pi

num = 3
num_2 = 3.4




print("π:", pi_, type(pi_))
print("Integer:", num, type(num))
print("Float (Decimal):",num_2, type(num_2))

In [ ]:
# 7a will give you an error
a = 3
num_like = "232aa232aq"
print(num_like, type(num_like))

#
num_like_2 = '234'
print(num_like_2, type(num_like_2))

a_num = 234
print(a_num, type(a_num))

In [ ]:
# 14B. declare a float:
# pi
import math # import buit-in math library


pi_ = math.pi


print("π", "\u03C0" ,pi_, type(pi_)) # 3.141592653589793

print(int(pi_)) # 3
print(round(pi_, 2)) # 3.14
print() # 3 int rounds DOWN

# 14C. int() only rounds down -- it basically just drops the decimal
# 7
print() # 79
print() # 78


# Please Pay $ 192.22

In [ ]:
# Calculate a restaurant bill using ints & floats:

# 14D. declare food and bev vars:

food_price = 35
bev_price = 23.7


# 15. Print food_tot along with its datatype:

print("Food Total:", food_price, type(food_price))


# 16. Print bev_tot along with its datatype:

print("Bev Total:", bev_price, type(bev_price))

# 17. Add them together and print the result w datatype
sub_total = food_price + bev_price  # float = float + int
print("Sub Total:", sub_total, type(sub_total))


# 18. Declare 2 more floats:
# 8.875% NYC Sales Tax
# 0.08875
# 0.18
tax_pct = 8.875
tip_pct = 20.0

print('NYC Sales Tax:', tax_pct)
print('Tip %:', tip_pct)

# # 19. Calculate tax and tip totals:

tax_total = (tax_pct / 100) * sub_total
tip_total = (tip_pct / 100) * sub_total

# # 20. Calculate and print the grand total:

grand_total = sub_total + tax_total + tip_total

# use round() to round our grand total
grand_total = round(grand_total, 2)


print('Grand Total:', grand_total) # 192.21562500000002

In [ ]:
# using round()

print(round(1.5)) # rounds to the nearest digit returns int if ndigits is not specified
print(round(2.3)) # round
print(round(2.33334, 3))
print(round(2.33334, 2))

**input()** method takes user input
- input() is set equal to (saved to) a variable
- input() pops up a text input box
- Nothing else runs while the box awaits input
- input() values, even numbers are actually strings

**int()** method converts "string-like numbers" to integer  
**float()** method converts "string-like numbers" to decimal floats
- "string-like numbers" must be converted to actual numbers to do math.

**str()** converts number to string (5 into "5")

In [ ]:
s = input('--> ')

s

In [ ]:
# Example: Use input to get two numbers from the user, and calculate the sum

# get two numbers from the user
num1 = input("Num 1:")
num2 = input("Num 2:")

print("User entered:", num1, type(num1))
print("User entered:", num2, type(num2))

# convert between types  str -> int , using initializers int() and str()
num1 = int(num1)
num2 = int(num2)
# print("converted num1", num1, type(num1))


print(num1 + num2) # this will concat the two numbers as strings if we don't convert using int()

In [ ]:
# Example: Use input to get two numbers from the user, and calculate the sum

# get two numbers from the user , converts to an int
num1 = int(input("First Number:"))
num2 = int(input("Second Number:"))

print("User entered:", num1, type(num1))
print("User entered:", num2, type(num2))

# convert between types  str -> int , using initializers int() and str()
# num1 = int(num1)
# num2 = int(num2)
# print("converted num1", num1, type(num1))

results_ = num1 + num2
print("Results: ", results_) # this will concat the two numbers as strings if we don't convert using int()

In [ ]:
# TYPE MATTERS!

print('3' + '3') # concat putts the strings together if they are strings
print(3 + 3) # this adds the numbers if they are integers

In [ ]:
# CHALLENGE - Make a Restaurant Bill Calculator
# Calculate a restaurant bill from user input.
# Set food and bev equal to the input() method


# constant value
TAX_PCT = 8.875



# get food price as float from user
food_price = float(input("Enter Food Price:")) # we can get the price from the user, and parse it in as a float()
print(food_price)

# get bev price as float from user
bev_price = float(input("Enter Bev Price:"))
print(bev_price)

# get the tip percent
tip_pct = float(input("Enter the tip %"))


# calculate totals

sub_total = food_price + bev_price

tip_total = sub_total * (tip_pct / 100)
tax_total = sub_total * (TAX_PCT / 100)

# calculat grand total
final_total = sub_total + tip_total + tax_total



print("Total:", round(final_total, 2))

In [ ]:
# Bill Calculator revisited
# constant value
TAX_PCT = 8.875



# get food price as float from user


try:
    food_price = float(input("Enter Food Price:")) # we can get the price from the user, and parse it in as a float()
    print(food_price)

    # get bev price as float from user
    bev_price = float(input("Enter Bev Price:"))
    print(bev_price)

    # get the tip percent
    tip_pct = float(input("Enter the tip %"))

except:
    print("Something went wrong")


# calculate totals

sub_total = food_price + bev_price

tip_total = sub_total * (tip_pct / 100)
tax_total = sub_total * (TAX_PCT / 100)

# calculat grand total
final_total = sub_total + tip_total + tax_total



print("Total:", round(final_total, 2))

# **Markdown Syntax:**  
####Hashtags make headings of different text sizes.
# One Hashtag = h1
## Two hashtags = h2
### Three hashtags = h3
### Four hashtags = h4
For **bold**, wrap the text in double asterisks.  
For *italics*, wrap the text in one asterisk.  
Add a double space after a line for a line break.  
For a bulleted list, put a hyphen (-) before each line:  
**Favorite Fruits**  
- Apple
- Banana
- Cherry
- Grape
- Kiwi
- Citrus
  - Lemon
  - Lime
  - Orange

##Boolean Datatype:
#### **Booleans** are vars with only two possible values:  **True** or **False**
- **True** or **False** are case-sensitive--as is most everything else in Python and other programming languages
- **not** operator toggles (flips) a boolean

In [ ]:
# 31. Declare two vars of type boolean:
# T

online = False
logged_in = False
print('online:', online)
print('logged_in:', logged_in)

# we can flip the value of a boolean using not

online = not online # "not" flips the boolean value  False -> True
logged_in = not logged_in

print('online:', online)
print('logged_in:', logged_in)

In [ ]:
is_done = True

print(is_done, type(is_done)) # True <class 'bool'>

###**Collections:**
####Collections are variables that can hold more than one value at a time.
####There are four types of collections:
- lists
- dictionaries
- tuples
- sets

#### To finish this lesson, we will look at lists.

####**list**
- A list consists of multiple comma-separated items enclosed in square brackets
- Lists can be of any data type or even of mixed data type
- Individual list items are referred to by their position number, known as the **index**
- The index follows the list, in square brackets
- The first item in a list is at **index [0]**
- The last item in a list is at **index [-1]**
- **len(list)** returns the number of items in the list

In [ ]:
# 33. Declare a list of fruits: 'apple', 'banana', 'cherry', 'kiwi', 'lime', 'pear'
#         0,      , 1        , 2     ,    3     ,4       5
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'lime', 'pear'] # last index is always n - 1 , where n is the length

print(fruits, type(fruits), len(fruits)) # <class 'list'>
# print(le) # 6

# 34. Select list items by INDEX
# get the first and last fruits
print("First Element:", fruits[0]) # 0 is the first element
print("Last Element:", fruits[5]) # 5 is the last element

# counting from left -> right positive indexing

# negative indexing starts counting from the right at -1

print("Second Last Element:", fruits[-2], fruits[4])
print("Last Element:", fruits[-1], fruits[5])


# get the last element using positive indexing when you don't know the length
last_index = len(fruits) - 1

print("Last Index:", fruits[last_index])

# you can also get the index of an element using index()
print("Index of kiwi:", fruits.index('kiwi'))


# positive indexing stasrts counting from the left at 0


# get the kiwi 2 diff ways: pos and neg index (hint: don't need len):


# 35. Declare a list of numbers:

nums = [3, 7, 2, 1, 8, 9]
print("nums", nums, type(nums))
# 36. Get the second number using pos and neg indexing:
print("2nd elem:", nums[1], nums[-5])

# 36B. Get the next to last number  (penultimate ) using pos and neg indexing:
print("2nd to last:", nums[4], nums[-2])

['apple', 'banana', 'cherry', 'kiwi', 'lime', 'pear'] <class 'list'> 6
First Element: apple
Last Element: pear
Second Last Element: lime lime
Last Element: pear pear
Last Index: pear
Index of kiwi: 3
nums [3, 7, 2, 1, 8, 9] <class 'list'>
2nd elem: 7 7
2nd to last: 8 8

In [ ]:
print("Element at index 0:", nums[0])
print("Index of element 3:",nums.index(3))  #[] and the index() function are inverse functions

Element at index 0: 3
Index of element 3: 0

**dir()** returns a list of the methods and properties of a data type.   

**help()** returns info about how to use something

In [ ]:
help(nums) # shows us the documentation of a variables, what functions it has etc.

In [ ]:
dir() # shows me all the variables in current namespace
# namespace -> scope of the program

In [ ]:
# get a list of all the methods for a class, such as str, list, float, int etc.
dir(list) # list is a built data type
dir(nums)
# he
# help() # len(list), len(str) returns the number of items in a container.
# help() # list.index returns the first index of the value in ()
# dir()

In [ ]:
help(nums)

**List Methods:**
**pop(), append(), insert(), remove(), sort(), reverse()**

In [ ]:

# list methods:



# A method is function that belongs to a type of object
# i.e. pop() is a list method
#
# pop() removes and returns last item from a list
last_item= fruits.pop() # this pop() changes the list
print(last_item)

pear

# Lists are Mutable

- when we run methods (functions) on our lists, they change our lists permanently

In [ ]:
print('popped_item:', last_item)
print('fruits:', fruits, len(fruits))

In [ ]:
# append() adds item(s) to the end of a list
# 'ora'
fruits.append("mango") # i didn't have to reassign anything, the list just changed -> "mutable"
print('fruits:',fruits)

fruits: ['apple', 'banana', 'cherry', 'kiwi', 'lime', 'mango']

In [ ]:
# 'ras'
print('fruits:')

In [ ]:
# list.insert(index,item) - add item to list at specified index
# 'gra'

# if you run this line commented out, it will overrwrite the list as None
fruits.insert(1, "dragonfruit") # will insert at index 1
print('fruits:', fruits)

fruits: ['apple', 'dragonfruit', 'banana', 'cherry', 'kiwi', 'lime', 'mango']

In [ ]:
# using the insert() method, insert 'lemon' into list while maintaining alphabetical order:
# 'lem'
fruits.insert(-2, "lemon")
print('fruits:', fruits)

fruits: ['apple', 'dragonfruit', 'banana', 'cherry', 'kiwi', 'lemon', 'lime', 'mango']

**adding multiple items to end of array all at once**
- **list.append(list2)** adds items as a child / nested list
- **list.extend(list2)** adds items as just more items, maintaining "flatness"

In [ ]:
# problem w appending more than one item:
# append(arg) only accepts one arg, so to append 3 fruits,
# you must a append as a 3 item list
# problem w that is, it goes in as a list
# fruits.append('watermelon', 'blueberry', 'plum')
# list.append() takes exactly one argument (3 given)

couple_fruits = ['watermelon', 'blueberry', 'plum']
fruits.append(couple_fruits)
print('fruits:', fruits) # OOPS! Nested List !
#fruits: ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'lemon', 'lime', 'orange', 'raspberry', ['watermelon', 'blueberry', 'plum']]

fruits: ['apple', 'dragonfruit', 'banana', 'cherry', 'kiwi', 'lemon', 'lime', 'mango', ['watermelon', 'blueberry', 'plum']]

In [ ]:
fruits.pop() # get rid of nested entry
fruits

['apple', 'dragonfruit', 'banana', 'cherry', 'kiwi', 'lemon', 'lime', 'mango']

**list1.extend(list2)** adds list2 to the end of list1
- maintains "flatness" (list2 does NOT go in as a nested list)

In [ ]:
# list1.extend(list2) - add a list to the end of another list
# this allows us to put more than one item at a time into list
# 'blueberry', 'cranberry', 'strawberry'
# ext
fruits.extend(couple_fruits)
print('fruits:', fruits)

fruits: ['apple', 'dragonfruit', 'banana', 'cherry', 'kiwi', 'lemon', 'lime', 'mango', 'watermelon', 'blueberry', 'plum']

In [ ]:
fruits.remove("banana")
fruits

['apple',
 'dragonfruit',
 'cherry',
 'kiwi',
 'lemon',
 'lime',
 'mango',
 'watermelon',
 'blueberry',
 'plum']

In [ ]:
['a','c'] + ['d', 'e'] # lists support concatentation

['a', 'c', 'd', 'e']

- **list.pop()** removes last item
- **list.pop(index)** removes item at index

In [ ]:
# list.pop(index)
# remove the unwanted nested list:
# -

print('popped_items:')
print('fruits:')

In [ ]:
# put the popped 3-pack back in using extend:
# ext
print('fruits:')

- **list.sort()** - put items in ascending order A-Z or 1-100

In [ ]:
# list.sort() - put items in ascending order A-Z 1-100
# so
fruits.sort()
print('fruits:', fruits)

fruits: ['apple', 'blueberry', 'cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'watermelon']

In [ ]:
# sort list of nums:
nums = [4,1,6,2,9,0,3,7]
# nu
nums.sort()
print('nums:', nums) # [0, 1, 2, 3, 4, 6, 7, 9]

nums: [0, 1, 2, 3, 4, 6, 7, 9]

**list.reverse()** reverses the order of list items
- to sort Z-A, first do a normal sort, then reverse

In [ ]:
fruits.reverse()
print('fruits:', fruits)

fruits: ['watermelon', 'plum', 'mango', 'lime', 'lemon', 'kiwi', 'dragonfruit', 'cherry', 'blueberry', 'apple']

In [ ]:
fruits.sort(reverse=True) # reading the docs, sometimes we find methods that have special keywords we can pass in
print('fruits:', fruits)

fruits: ['watermelon', 'plum', 'mango', 'lime', 'lemon', 'kiwi', 'dragonfruit', 'cherry', 'blueberry', 'apple']

In [ ]:
# add duplicate fruits using extend method:
fruits.extend(['apple', 'banana', 'grape', 'orange', 'mango', 'peach', 'apricot'])
# ext
fruits.sort() # sort fruits list
print('fruits:', fruits)

fruits: ['apple', 'apple', 'apricot', 'banana', 'blueberry', 'cherry', 'dragonfruit', 'grape', 'kiwi', 'lemon', 'lime', 'mango', 'mango', 'orange', 'peach', 'plum', 'watermelon']

In [ ]:
# fruits = ['apple', 'banana', 'cherry', 'kiwi', 'lime', 'pear']

**set(list)** returns a set from list argument

In [ ]:
# remove duplicates from a list by making a set from the list
# a set cannot have any duplicates
# set(list) returns a set from list argument
# set
fruits_set = set(fruits) # sets have no order, and no duplicate items
print('fruits_set:', fruits_set)

fruits_set: {'plum', 'apple', 'cherry', 'banana', 'blueberry', 'grape', 'lemon', 'apricot', 'lime', 'orange', 'kiwi', 'peach', 'watermelon', 'dragonfruit', 'mango'}

In [ ]:
fruits_set[0] # this won't work with sets.

#fruits_set.

TypeError: 'set' object is not subscriptable

**list(items)** returns a list from items argument

In [ ]:
# then, make a list from the set
# list
# sor
# we can convert the set back to a list
fruits_set.add('apple')
fruits_set

# if we want indexing, we can convert it back to a list
unique_lst = list(fruits_set)

# get first element, we can now index because we converted it back to a list
print("First Element:", unique_lst[0])

['apple', 'apple', 'apricot', 'banana', 'blueberry', 'cherry', 'dragonfruit', 'grape', 'kiwi', 'lemon', 'lime', 'mango', 'mango', 'orange', 'peach', 'plum', 'watermelon']
First Element: plum

In [ ]:
# remove item by name
# remove mango (remove does not return anything)
# 'mango'
removed_fruit = fruits.remove('banana')
print('removed_fruit:', removed_fruit) # None
print('fruits_list:', fruits)

In [ ]:
# remove item at index w pop(index)
# pop returns the popped item, so set it equal to a var
# po
print('popped_item:')
print('fruits_list:')

# Exercise

In [ ]:
#

fruits = ['blueberry', 'apple', 'cherry','cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'plum','watermelon']

# Exercise
# remove first element
first_elem = fruits.pop(0)
print("removed first elem", fruits)

# add removed first element, to the end
fruits.append(first_elem)
print("add that element to the end", fruits)
# get the unqiue elements using set()
fruits_set = set(fruits)
print("unique elements using set", fruits_set)



# convert back to a list
unique_elems = list(fruits_set)

print("back to a list", unique_elems)
# sort alphabetically

unique_elems.sort()
print("sorted unique elems", unique_elems)

removed first elem ['apple', 'cherry', 'cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'plum', 'watermelon']
add that element to the end ['apple', 'cherry', 'cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'plum', 'watermelon', 'blueberry']
unique elements using set {'plum', 'apple', 'cherry', 'lime', 'lemon', 'watermelon', 'blueberry', 'kiwi', 'dragonfruit', 'mango'}
back to a list ['plum', 'apple', 'cherry', 'lime', 'lemon', 'watermelon', 'blueberry', 'kiwi', 'dragonfruit', 'mango']
sorted unique elems ['apple', 'blueberry', 'cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'watermelon']

In [ ]:
# condensed version  (harder to read but less lines )
fruits = ['blueberry', 'apple', 'cherry','cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'plum','watermelon']

# Exercise
# remove first element, add to end
fruits.append(fruits.pop(0))

unique_fruits = list(set(fruits))
unique_fruits.sort()
print("Unique Fruits", unique_fruits)

Unique Fruits ['apple', 'blueberry', 'cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'watermelon']

In [ ]:
fruits = ['blueberry', 'apple', 'cherry','cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'plum','watermelon']
# Exercise
# remove first element
firstelement = fruits[0] #get first fruit
print("first element:", firstelement)
#fruits.remove(firstelement)
fruits.pop(0)
print("list without first element:", fruits)
# add removed first element, to the end
fruits.append(firstelement)
print("first element moved to the end:", fruits)
# get the unqiue elements using set()
fruits_set = set(fruits)
print("unique set of fruits:", fruits_set)
# convert back to a list
fruits_lst = list(fruits_set)
print("from set to list:", fruits_lst)
# sort alphabetically
fruits_lst.sort()
print("sorted set of fruits:", fruits_lst)

first element: blueberry
list without first element: ['apple', 'cherry', 'cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'plum', 'watermelon']
first element moved to the end: ['apple', 'cherry', 'cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'plum', 'watermelon', 'blueberry']
unique set of fruits: {'plum', 'apple', 'cherry', 'lime', 'lemon', 'watermelon', 'blueberry', 'kiwi', 'dragonfruit', 'mango'}
from set to list: ['apple', 'cherry', 'cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'plum', 'watermelon', 'blueberry']
sorted set of fruits: ['apple', 'blueberry', 'cherry', 'cherry', 'dragonfruit', 'kiwi', 'lemon', 'lime', 'mango', 'plum', 'plum', 'watermelon']

In [ ]:
# list methods:
# list.pop() - remove last item if () are empty
# list.pop(2) - remove item at index 2
# list.append(item) - add item to end of list
# list.insert(index,item) - add item to list at specified index
# list.extend(list) - add a list to the end of another list
# list.sort() - put items in ascending order A-Z 1-100
# list.reverse() - reverese prder pf ;ost ote,s. sp fpr Z-A first sprt
# list.remove() - item by name
# list.index(item) - get the index/numeric posiiton of item by name
# make a list of fruits:
# 'apple', 'banana', 'kiwi', 'pear', 'peach', 'grape', 'orange'
# list.pop()
# removes last item from list
# list.pop(index)
# remove item at index
# print(fruits)
# list.append(item)
# adds item to end of list
# list.insert(index,item)
# add item to list at specified index
# insert expects 2 args: index where you want new item to go and the item
# list1.extend(list2)
# add a list to an existing without making a new list
# 'orange', 'grapefruit', 'lemon', 'lime'
# list.sort()
# alphabetize list of strings
# puts list of nums in ascending orger
# list.reverse()
# reverses order of list items
# remove(item)
# removes item by name, not index
# remove 'banana'
# print(fruits)